@import "tailwindcss";


.hero-section-clip-path.left-side {
    clip-path: polygon(0 0%, 60% 0%, 20% 100%, 0% 100%);
}

.hero-section-clip-path.right-side {
    clip-path: polygon(100% 0, 100% 100%, 60% 100%);
}


@media (max-width: 768px) {
    .hero-section-clip-path.left-side {
        clip-path: polygon(0 0%, 100% 0%, 60% 100%, 0% 100%);
    }
}